<app-main-nav *ngIf="land">
  <mat-card>
    <mat-card-title>
      {{ land }}
    </mat-card-title>
  </mat-card>
  <mat-card *ngIf="sumCases">
    <mat-card-title>
      Fälle
    </mat-card-title>
    <mat-cart-subtitle>
      Anzahl bestätigter Corona Fälle
    </mat-cart-subtitle>
    <mat-card-content>
      <h1>{{sumCases}}</h1>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Tode
    </mat-card-title>
    <mat-cart-subtitle>
      Anzahl bestätigter Tode durch Covid-9
    </mat-cart-subtitle>
    <mat-card-content>
      <h1>{{sumDeaths}}</h1>
    </mat-card-content>
  </mat-card>
</app-main-nav>

